/* ----- Web Fonts */
@font-face {
    font-family: "forma-djr-display, sans-serif";
    src: url('./fonts/forma-djr-display.woff')
    format('woff');
}

/* ------ Base Styles (display, font,  color) */
h1, h2, h3, li{
    font-family: forma-djr-display, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
li {
    font-size: 22px;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;
    
}
p {
    font-family: forma-djr-display;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
}

/* ------ Main Styles (padding, margin, width, align) */
#wrapper {
    margin: 0 auto;
}
p {
    margin:auto;
    text-alig;
}

/* ------ Media Queries */